body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(7,100px);
    grid-template-rows:  repeat(6,100px);
    place-content: center;
    gap: 15px;
}
div{
    background-color: rgb(255, 230, 0);
}
.kutu1{
    background-color: rgb(255, 0, 0);
    grid-column: 4/5;
}
.kutu2{
    grid-column: 3/4;
    grid-row: 2/3;
}
.kutu3{
    grid-column: 4/5;
    grid-row: 2/3;
}
.kutu4{
    grid-column: 5/6;
    grid-row: 2/3;
}
.kutu5{
    grid-column: 2/3;
    grid-row: 3/4;
}
.kutu6{
    grid-column: 3/4;
    grid-row: 3/4;
}
.kutu7{
    grid-column: 4/5;
    grid-row: 3/4;
}
.kutu8{
    grid-column: 5/6;
    grid-row: 3/4;
}
.kutu9{
    grid-column: 6/7;
    grid-row: 3/4;
}
.kutu10{
    grid-column: 1/2;
    grid-row: 4/5;
}
.kutu11{
    grid-column: 2/3;
    grid-row: 4/5;
}
.kutu12{
    grid-column: 3/4;
    grid-row: 4/5;
}
.kutu13{
    grid-column: 4/5;
    grid-row: 4/5;
}
.kutu14{
    grid-column: 5/6;
    grid-row: 4/5;
}
.kutu15{
    grid-column: 6/7;
    grid-row: 4/5;
}
.kutu16{
    grid-column: 7/8;
    grid-row: 4/5;
}
.kutu17{
    background-color: rgb(92, 68, 41);
    grid-column: 2/3;
    grid-row: 5/6;
}
.kutu18{
    grid-column: 3/4;
    grid-row: 5/6;
}
.kutu19{
    background-color: rgb(92, 68, 41);
    grid-column: 4/5;
    grid-row: 5/6;
}
.kutu20{
    grid-column: 5/6;
    grid-row: 5/6;
}
.kutu21{
    background-color: rgb(92, 68, 41);
    grid-column: 6/7;
    grid-row: 5/6;
}
.kutu22{
    background-color: rgb(92, 68, 41);
    grid-column: 3/4;
    grid-row: 6/7;
}
.kutu23{
    background-color: rgb(92, 68, 41);
    grid-column: 4/5;
    grid-row: 6/7;
}
.kutu24{
    background-color: rgb(92, 68, 41);
    grid-column: 5/6;
    grid-row: 6/7;
}